#header
{
	background-color: #c2c2c2
}
#horznavbar
{
	background-color: #c2c2c2
}
#lftsidebar
{
	background-color: #c2c2c2
}
#main
{
	background-color: #c2c2c2
}
#rhtsidebar
{
	background-color: #c2c2c2
}
#footer
{
	background-color: #c2c2c2
}
