<div class="container showgrid">
	<div id="header" class="span-24">
		<%= render :partial => "shared/header" %>
	</div>
	<div id="horznavbar" class="span-24">
		<%= render :partial => "shared/horznavbar" %>
	</div>	
	<div id="lftsidebar" class="span-4">
		<%= render :partial => "shared/welcome" %>
	</div>
	<div id="main" class="span-16">
		Main content
	</div>
	<div id="rhtsidebar" class="span-4 last">
		Right sidebar
	</div>
	<div id="footer" class="span-24">
		<%= render :partial => "shared/footer" %>
	</div>
</div>

