	<fb:if-section-not-added section="profile">
	  <p>Add Rails Magazine to your profile to see it listed there.</p>
	  <fb:add-section-button section="profile" />
	</fb:if-section-not-added>
	<%=yield%>
